# .npmignore - https://docs.npmjs.com/using-npm/developers.html#keeping-files-out-of-your-package

# Bin
/bin/

# Source
/src/

# Tests
/tests/

# Docs
/docs/

# Composer
/vendor/
/composer.json
/composer.lock
